<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>cat mario</title>
  <link rel="stylesheet" href="/css/login(keep).css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="bg">
  <div id="logBody">
    <div id="logBodyLeft">
      <div class="leftTop">
        <div class="comment">
          <%=id %>님 환영 합니다
        </div>
      </div>
      <div class="leftMiddle"></div>
      <div class="leftBottom">
        <button class="log_btn2">START</button>
        <div id="joinFind">
          <a href="/deletesession"><span>[Logout]</span></a>
          <a href="/mypage"><span>[mypage]</span></a>
        </div>
      </div>
    </div>
    <div id="logBodyRight">
      <div class="right-top">
        <div id="right-header">NOTICE</div>
      </div>
      <div class="right-middle">
        <div class="right-mid-title">
          <div class="wid25" id="writing-time">작성시간</div>
          <div class="wid25" id="right-date-title">제목</div>
          <div class="wid25" id="nickname">닉네임</div>
          <div class="wid25" id="click-views">조회수</div>
        </div>
        <div class="right-mid-content-display">
          <% for (let i=0; i < data.length ; i++) { %>
            <div class="right-mid-content">
              <div class="wid25 overtxt pad5" id="writing-time">
                <%= data[i]?.createdAt %>
              </div>
              <div class="wid25 overtxt pad5" id="right-date-title">
                <a href="/board/<%= data[i]?.bno%>">
                  <%=data[i]?.title %>
                </a>
              </div>
              <div class="wid25 overtxt pad5" id="nickname">
                <%= data[i]?.nickname %>
              </div>
              <div class="wid25 overtxt pad5" id="click-views">
                <%= data[i]?.replypoint %>
              </div>
            </div>
            <% } %>
        </div>
        <div class="pagination">
          <i class="fa-solid fa-arrow-left"></i>
          <ol id="numbers"></ol>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="right-bottom">
        <button id="left-clickbtn"
          onclick="
            window.open(href = '/writing' ,'글쓰기','width=650px , height=600px , location=no , toolbar-no , scrollbars=yes'); return false;" ;>
          글쓰기
        </button>
        <button id="right-clickbtn" onclick="location.href = '/store'">
          STORE
        </button>
      </div>
    </div>
  </div>
</body>
<script type="module" src="/js/app.js"></script>
<script>
  // $(function () {
  //   $("#right-date-title > a").on("click", function (e) {
  //     e.preventDefault();
  //   });
  // });
  const rowsPerPage = 12;
  const rows = document.querySelectorAll(".right-mid-content");
  const rowsCount = rows.length;
  const pageCount = Math.ceil(rowsCount / rowsPerPage);
  const numbers = document.querySelector("#numbers");
  // 변수 추가
  const prevPageBtn = document.querySelector(".fa-arrow-left");
  const nextPageBtn = document.querySelector(".fa-arrow-right");
  let pageActiveIdx = 0; //현재 보고있는 페이지 그룹의 번호
  let maxPageNum = 3; //페이지그룹의 최대 개수
  // 페이지네이션 생성
  for (let i = 1; i <= pageCount; i++) {
    numbers.innerHTML += `<li><a href = "">${i}</a></li>`;
  }
  const numberBtn = numbers.querySelectorAll("a");
  numberBtn.forEach((item, index) => {
    item.addEventListener("click", (e) => {
      e.preventDefault();
      // list 출력 함수 생성
      displayRow(index);
    });
  });
  function displayRow(index) {
    let start = index * rowsPerPage;
    let end = start + rowsPerPage;
    let rowsArray = [...rows];
    for (ra of rowsArray) {
      ra.style.display = "none";
    }
    let newRows = rowsArray.slice(start, end);
    for (nr of newRows) {
      nr.style.display = "";
    }
    for (nb of numberBtn) {
      nb.classList.remove("active");
    }
    numberBtn[index].classList.add("active");
  }
  displayRow(0);
  // 페이지네이션 그룹 표시함수
  function displayPage(num) {
    // 페이지네이션 번호 감추기
    for (nb of numberBtn) {
      nb.style.display = "none";
      let totalPageCount = Math.ceil(pageCount / maxPageNum);
      let pageArr = [...numberBtn];
      let start = num * maxPageNum;
      let end = start + maxPageNum;
      let pageListArr = pageArr.slice(start, end);
      for (item of pageListArr) {
        item.style.display = "block";
      }
      if (pageActiveIdx == 0) {
        prevPageBtn.style.display = "none";
      } else {
        prevPageBtn.style.display = "block";
      }
      if (pageActiveIdx == totalPageCount - 1) {
        nextPageBtn.style.display = "none";
      } else {
        nextPageBtn.style.display = "block";
      }
    }
  }
  displayPage(0);
  nextPageBtn.addEventListener("click", () => {
    /*
    123 - pageActiveIdx 0
            displayrow(3)
    456 - pageActiveIdx 1
            displayrow(6)
    789 - pageActiveIdx 2
            displayrow(9)
    */
    let nextPageNum = pageActiveIdx * maxPageNum + maxPageNum;
    displayRow(nextPageNum);
    ++pageActiveIdx;
    displayPage(pageActiveIdx);
  });
  prevPageBtn.addEventListener("click", () => {
    let nextPageNum = pageActiveIdx * maxPageNum - maxPageNum;
    displayRow(nextPageNum);
    --pageActiveIdx;
    displayPage(pageActiveIdx);
  });
</script>

</html>